:root {
    --border-color: rgb(167, 167, 167);
}

body {
    display: flex;
    height: 95vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    display: grid;
    gap: 10px;
}

* > {
    margin: 0;
}

canvas {
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

button {
    border-radius: 12px;
    height: 30px;
    border: 1px solid var(--border-color);
}